.wrapper {
  max-width: 400px;
  margin: 0 auto;
  background-color: deepskyblue;
}

.screen {
  display: flex;
  flex-flow: column nowrap;
  background-color: deepskyblue;
  min-height: 80px;
  padding: 10px;
  font-size: 2.5rem;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  text-align: right;
}
.screen .previous {
  font-size: 1.5rem;
  color: aliceblue;
  word-wrap: break-word;
  word-break: break-all;
}
.screen .current {
  font-size: 2.5rem;
  color: aliceblue;
  word-wrap: break-word;
  word-break: break-all;
}
.cal_btn_row {
  display: flex;
  align-content: stretch;
  justify-content: space-between;
  margin-bottom: 0.8%;
}

.cal_btn {
  background-color: aliceblue;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 2.5rem;
  border: none;
  height: 100px;
  flex-basis: 24.5%;
  cursor: pointer;
}

.cal_btn:hover {
  background-color: aliceblue;
}

.cal_btn:active {
  background-color: brown;
}
.cal_btn:last-child {
  background-color: chocolate;
  color: aliceblue;
}

.cal_btn:last-child {
  background-color: coral;
}
.double {
  flex-basis: 49.7%;
}
